doctype 5
html(lang="en")
  head
    title Orgazers
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript')
      var socket = io.connect('http://localhost:5000');
      socket.on('status', function (data) {
        $("#status").html(data.message);
      });
      socket.on('finished', function (data) {
        $("#status").hide();
        orgs = data.orgs;
        var $org, org, _i, _len;
        for (_i = 0, _len = orgs.length; _i < _len; _i++) {
          org = orgs[_i];
          $org = $("<a href=\"https://github.com/" + org.user.login + "\"><img title=\"" + org.login + "\" width=\"80\" height=\"80\" src=\"" + org.avatar_url + "\"></a>");
          $("#orgs").append($org);
        }
      });
      socket.emit('for', { user: "#{user}", repo: "#{repo}" });
  body
    .container
      .navbar
        .navbar-inner
          a.brand(href='/') Orgazers
          //form.navbar-form.pull-left(action="for")
          //  span User
          //  input(type="text", name="user")
          //  span Repo
          //  input(type="text", name="repo")
          //  input.btn(type="submit", value="Submit")
    div#status(style='margin: 200px; text-align: center; font-size: 24px;') Working...
    div#orgs